<div class="row mt-3">
    <div class="col-lg-6">
        <h3>Listado de comentarios</h3>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-primary float-end">Nuevo Comentario</button>
    </div>
</div>

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <td>Titulo</td>
            <td>Creador</td>
            <td>Fecha</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ANgular</td>
            <td>GOku</td>
            <td>12/03/2020</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ANgular</td>
            <td>GOku</td>
            <td>12/03/2020</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ANgular</td>
            <td>GOku</td>
            <td>12/03/2020</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>